.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

section{
   display: flex;
   flex-direction: row;
}

.headerTitle{
  font-family: "Karla", sans-serif;
  color: #222;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

img{
  height: 400px;
  width: 300px;
  object-fit: cover;
}
button:hover, a:hover {
  opacity: 0.7;
}

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  line-height: 1.7;
}

.container {
  padding: 2.5rem 3rem;
}

.favi{
  height: 10%;
  width: 10%;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
  background-color: white;
}

nav h1 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

nav button {
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.8;
  margin-left: auto;
  outline: none;
}

nav button,
nav ul {
  margin-left: auto;
}

nav button:hover {
  opacity: 1;
}

nav button span {
  height: 2px;
  background-color: rgb(68, 68, 68);
  width: 20px;
  display: block;
  margin-top: 4px;
}

nav button span:first-child {
  width: 15px;
}

nav button span:last-child {
  width: 15px;
}

nav ul {
  display: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-size: 12px;
  color: #222;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.responsive-nav {
  position: absolute;
  top: -70%;
  background-color: white;
  width: 95.75%;
  box-shadow: 0px 2px 5px rgba(34, 34, 34, 0.075);
  transition: all 500ms ease-out;
  z-index: 1;
}

.responsive-nav li a {
display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 3rem 0;
  color: #222;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.responsive-nav-active {
  top: 5% !important;
}

@media (min-width: 1024px) {
  nav button,
  .responsive-nav {
    display: none;
  }
  nav ul {
    display: block;
  }
  .container {
    //padding: 2.5rem 10rem;
  }
  html {
    font-size: 72.5%;
  }
}

ul.ba {
    list-style-type: none;
}
/* .photo-container{ //selector
Display: flex;
Flex-wrap: wrap; // wraps around only displays as much as what can fit in the size of the screen
Object-fit: cover
}

Flex-direction cheat sheet
	- Row-reverse
	- Column-reverse
Ex. Flex-direction: row, row-reverse, column, column-reverse */





/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab&family=Rock+Salt&display=swap');


body {
  font-family: 'Source Sans Pro', sans-serif, 'Roboto Slab', serif;
  margin: 2em;
  background-color:  rgb(226, 219, 219)
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.button{
  font-size: 20px;
  border-radius:8px;
  padding: 20px;
  margin-left: 20px;
  
}

div{
  display: flex;
  justify-content: center;
  
  align-items: center;
  flex-direction: row;
}
  
.button:hover{
  cursor: pointer;
  background: rgba(204, 161, 87, 0.521);
  color: white;
  transition: 0.5s;
}

/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab&family=Rock+Salt&display=swap');

section{
   display: flex;
   flex-direction: row;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

img{
  height: 400px;
  width: 300px;
  object-fit: cover;
}
button:hover, a:hover {
  opacity: 0.7;
}

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  line-height: 1.7;
}

.container {
  padding: 2.5rem 3rem;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
  background-color: white;
}

nav h1 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

nav button {
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.8;
  margin-left: auto;
  outline: none;
}

nav button,
nav ul {
  margin-left: auto;
}

nav button:hover {
  opacity: 1;
}

nav button span {
  height: 2px;
  background-color: rgb(68, 68, 68);
  width: 20px;
  display: block;
  margin-top: 4px;
}

nav button span:first-child {
  width: 15px;
}

nav button span:last-child {
  width: 15px;
}

nav ul {
  display: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-size: 12px;
  color: #222;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.responsive-nav {
  position: absolute;
  top: -70%;
  background-color: white;
  width: 95.75%;
  box-shadow: 0px 2px 5px rgba(34, 34, 34, 0.075);
  transition: all 500ms ease-out;
  z-index: 1;
}

.responsive-nav li a {
display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 3rem 0;
  color: #222;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.responsive-nav-active {
  top: 5% !important;
}

@media (min-width: 1024px) {
  nav button,
  .responsive-nav {
    display: none;
  }
  nav ul {
    display: block;
  }
  .container {
    //padding: 2.5rem 10rem;
  }
  html {
    font-size: 72.5%;
  }
}

ul.ba {
    list-style-type: none;
} */
/* .photo-container{ //selector
Display: flex;
Flex-wrap: wrap; // wraps around only displays as much as what can fit in the size of the screen
Object-fit: cover
}

Flex-direction cheat sheet
	- Row-reverse
	- Column-reverse
Ex. Flex-direction: row, row-reverse, column, column-reverse */
 */
